extends layout

block content
  h1= title
  p Welcome to #{title}
  P I like to listen soft music.
  button(type="button", class="btn btn-secondary", onclick="doBump()") Press Me
  div(id='bump') Bump the count 
  script. 
    var count = 0;
    var bump = 1;
    function doBump(){
      count = bump;
      bump ++;
      document.getElementById("bump").innerHTML = "count " + count + " with bump " + bump;
    }
  