extends layout

block content
  h1= title
    - let image_names = ["fruits.jpg","mart.jpg","Magazines.jpg","candy.jpg","Shampoo.jpg"]
  - for(let i=0;i<3;i++){
      - let pic = Math.floor(Math.random()*5);
      - let item = image_names[pic];
      img(src=`/images/${item}` alt=`${item}` style='height:300px; width:300px') 
  - }